apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: paperless-ngx
    component: broker
  name: broker
spec:
  replicas: 1
  selector:
    matchLabels:
      app: paperless-ngx
      component: broker
  strategy:
    type: Recreate
  template:
    metadata:
      annotations:
        kompose.cmd: kompose --file docker-compose.yaml convert
        kompose.version: 1.37.0 (HEAD)
      labels:
        app: paperless-ngx
        component: broker
    spec:
      containers:
        - image: docker.io/library/redis:8
          name: broker
          volumeMounts:
            - mountPath: /data
              name: redisdata
      restartPolicy: Always
      volumes:
        - name: redisdata
          persistentVolumeClaim:
            claimName: redisdata
