http:
  routers:
    nginx:
      # Route test traffic via Traefik at 192.168.1.72 using a path prefix.
      rule: "Host(`nginx.easontm.com`)"
      entryPoints:
        - websecure
      service: nginx
      middlewares:
        - authelia
        - secure-headers
      tls: {}
    authelia:
      rule: "Host(`auth.easontm.com`)"
      service: authelia
      entryPoints:
        - websecure
      tls: {}