apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - db
  - webserver

secretGenerator:
  - name: db-secret
    envs:
      - .env

generatorOptions:
  disableNameSuffixHash: true
