api:
  dashboard: {{ dashboard_enabled }}
  insecure: {{ insecure_dashboard }}
entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
          permanent: true
  websecure:
    address: ":443"
    http:
      tls: {}

providers:
  file:
    directory: /etc/traefik/conf
    watch: true
{% if k8s_gateway_yaml is not none %}
  kubernetesGateway:
{{ k8s_gateway_yaml | indent(4, true) }}
  kubernetesCRD:
    enabled: true
{{ k8s_gateway_yaml | indent(4, true) }}
{% endif %}

accessLog:
  format: json
  fields:
    names:
      ClientUsername: drop
log:
  filePath: "/var/log/traefik.log"
  level: DEBUG
  # level: {{ log_level }}

# certificatesResolvers:
#   letsencrypt:
#     acme:
#       email: you@example.com
#       storage: /etc/traefik/acme.json
#       httpChallenge:
#         entryPoint: web
