api:
  dashboard: true
  insecure: true
entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
          permanent: true
  websecure:
    address: ":443"
    http:
      tls: {}

providers:
  file:
    directory: /etc/traefik/conf
    watch: true
  # kubernetesCRD:
  #   enabled: true
  #   namespaces: ["default", "ingress"]

accessLog:
  format: json
  fields:
    names:
      ClientUsername: drop
log:
  level: INFO

# certificatesResolvers:
#   letsencrypt:
#     acme:
#       email: you@example.com
#       storage: /etc/traefik/acme.json
#       httpChallenge:
#         entryPoint: web

tls:
  certificates:
    - certFile: "/certs/easontm.com.crt"
      keyFile: "/certs/easontm.com.key"