controller:
  replicas: 1
  runOnControlPlane: true
node:
  tolerations:
    - operator: "Exists"
feature:
  # This is a default I'm just being explicit
  enableFSGroupPolicy: true
storageClasses:
%{ for sc in storage_classes ~}
  - name: ${sc.name}
    annotations:
      storageclass.kubernetes.io/is-default-class: "${sc.is_default}"
    parameters:
      server: ${sc.nfs_server}
      share: ${sc.nfs_path}
    reclaimPolicy: ${sc.reclaim_policy}
    volumeBindingMode: ${sc.volume_binding_mode}
    allowVolumeExpansion: ${sc.allow_volume_expansion}
    mountOptions:
%{ for option in sc.mount_options ~}
      - ${option}
%{ endfor ~}
%{ endfor ~}
