http:
  services:
    nginx:
      loadBalancer:
        servers:
          - url: "http://192.168.1.73:80"
    authelia:
      loadBalancer:
        servers:
          - url: "http://192.168.1.75:9091"