deployment:
  enabled: false
experimental:
  kubernetesGateway:
    enabled: true
providers:
  kubernetesGateway:
    enabled: true
service:
  enabled: false
gateway:
  listeners:
    web:
      port: 80
      protocol: HTTP
      hostname: "*.easontm.com"
      namespacePolicy:
        from: All
    websecure:
      protocol: HTTPS
      port: 443
      hostname: "*.easontm.com"
      namespacePolicy:
        from: All
      mode: Terminate
      certificateRefs:
      - kind: Secret
        name: gateway-dummy-tls
ports:
  web:
    port: 80
  websecure:
    port: 443
