experimental:
  kubernetesGateway:
    enabled: true
providers:
  kubernetesGateway:
    enabled: true
ingressRoute:
  dashboard:
    enabled: true
    matchRule: Host(`traefik-dashboard.${domain_name}`)
    entryPoints:
      - web
      - websecure
    middlewares:
      - name: authelia
gateway:
  listeners:
    web:
      protocol: HTTP
      hostname: "*.${domain_name}"
      namespacePolicy:
        from: All
    websecure:
      protocol: HTTPS
      port: 8443
      hostname: "*.${domain_name}"
      namespacePolicy:
        from: All
      mode: Terminate
      certificateRefs:
      - kind: Secret
        name: ${cert_secret_name}
